{% extends "index.html" %}
{% block title %}

<div class="about-us">
    <center><h1 style="margin-top:100px; margin-bottom: 60px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">About</h1></center>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="/static/images/image123.webp" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us </h4>
                    {% comment %} <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span> {% endcomment %}
                    <div class="quote">
                        <p>Welcome to our platform dedicated to community sharing and sustainability! Here, users can freely upload unwanted but still functional products for others to benefit from. Whether it's electronics, household items, clothing, or books, our website encourages a culture of reuse and resourcefulness.

                            Browse through a diverse range of listings to discover items you need without any cost. By participating, you contribute to reducing waste and promoting environmental stewardship. It's a collaborative effort where everyone plays a part in extending the life cycle of products and supporting a circular economy.
                            
                            Join our community today to give your items a second chance and find treasures others are generously sharing. Together, we can make a positive impact by fostering a culture of giving and sustainability.</p>
                    </div>
                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}